# pandas

* In Python, pandas is a powerful open-source data analysis and manipulation library. It provides data structures and functions that simplify working with structured data, such as tabular data (like spreadsheets or SQL tables). Pandas is particularly useful for tasks like data cleaning, transformation, exploration, and analysis. It's built on top of NumPy, another popular Python library for numerical computing, and it offers DataFrame objects, which are similar to tables in a database or Excel spreadsheet, along with Series objects for handling one-dimensional data. Overall, pandas is widely used in data science, machine learning, and data analysis projects due to its efficiency and ease of use.

* pandas have 2 type of data structure :

          1. Series :  It's one dimension array with indexes and capable of holding any type of data ; store data in single column or row
          2. DataFrame :  It's tebular representation ..ie .. row and columns and potentially store different type of data

* In easy to understand , if I have a data in tabular form then entire table is 'DataFrame' , wherease each column is 'Series'

In [103]:
import numpy as np
import pandas as pd

In [104]:
dict1 = {
    "name" : ["Aman","Rishabh","zishan","vishal"],
    "marks" : [55,36,88,45],
    "city" : ["pune","delhi","agra","ara"]
}
df =pd.DataFrame(dict1) # in sheet or table like strucutre
print(df)

      name  marks   city
0     Aman     55   pune
1  Rishabh     36  delhi
2   zishan     88   agra
3   vishal     45    ara

In [105]:
df.to_csv('friends.csv') # excel sheet of above data will be downloaded

In [106]:
df.to_csv('frends_withoutIndex.csv', index=False) # no index

In [107]:
df.head(2)  # from above to display . used in large data

      name  marks   city
0     Aman     55   pune
1  Rishabh     36  delhi

In [108]:
df.tail(2)  # from bottom. used in large data

     name  marks  city
2  zishan     88  agra
3  vishal     45   ara

In [109]:
df.describe() # for numeric columns it gives following

           marks
count   4.000000
mean   56.000000
std    22.700954
min    36.000000
25%    42.750000
50%    50.000000
75%    63.250000
max    88.000000

In [110]:
golu = pd.read_csv('golu.csv')
print(golu)

   Unnamed: 0.1  Unnamed: 0 cities  times_visited         reason
0             0           0   pune             22            any
1             1           1  delhi             10             no
2             2           2   agra              1         aisehi
3             3           3    ara           1000  ghar mai mera

In [111]:
golu['cities']  # give list of column

0     pune
1    delhi
2     agra
3      ara
Name: cities, dtype: object

In [112]:
golu['times_visited'][2] = 1 # update agra visit to 1
print(golu)  # let's check update
golu.to_csv('golu.csv') # value will be update
# here I take data from csv file and did some operations and again save

   Unnamed: 0.1  Unnamed: 0 cities  times_visited         reason
0             0           0   pune             22            any
1             1           1  delhi             10             no
2             2           2   agra              1         aisehi
3             3           3    ara           1000  ghar mai mera

C:\Users\golu\AppData\Local\Temp\ipykernel_24216\2933070915.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  golu['times_visited'][2] = 1 # update agra visit to 1
C:\Users\golu\AppData\Local\Temp\ipykernel_24216\2933070915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golu['times_visited'][2] = 1 # update agra visit to 1

In [113]:
golu.index = ["1st","2nd","3rd","4th"] # change indexing
print(golu)

     Unnamed: 0.1  Unnamed: 0 cities  times_visited         reason
1st             0           0   pune             22            any
2nd             1           1  delhi             10             no
3rd             2           2   agra              1         aisehi
4th             3           3    ara           1000  ghar mai mera

In [114]:
ser = pd.Series(np.random.rand(34))  # 34 columns with random values
print(ser)
print(type(ser))  # it will show series

0     0.901885
1     0.358728
2     0.759150
3     0.387323
4     0.218469
5     0.777556
6     0.930231
7     0.157651
8     0.994055
9     0.587000
10    0.533433
11    0.943375
12    0.123517
13    0.433275
14    0.515513
15    0.491942
16    0.067898
17    0.850526
18    0.618695
19    0.831429
20    0.831893
21    0.240722
22    0.822518
23    0.950967
24    0.938786
25    0.123468
26    0.756827
27    0.337340
28    0.200211
29    0.702356
30    0.550606
31    0.262863
32    0.061603
33    0.794434
dtype: float64
<class 'pandas.core.series.Series'>

In [115]:
newdf = pd.DataFrame(np.random.rand(321,10),index= np.arange(321))
newdf.head() # for 5 from top
newdf # for all
type(newdf)  # output : pandas.core.frame.DataFrame
newdf.describe()

,0,1,2,3,4,5,6,7,8,9
count,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000,321.000000
mean,0.513903,0.512972,0.502644,0.486425,0.510966,0.523883,0.481948,0.487185,0.496960,0.479023
std,0.291805,0.285911,0.287859,0.288436,0.286048,0.276453,0.282566,0.284395,0.279703,0.285261
min,0.002137,0.002003,0.001611,0.006881,0.000315,0.004257,0.001060,0.015742,0.001714,0.000816
25%,0.259297,0.273138,0.263520,0.228850,0.270520,0.296114,0.234830,0.252681,0.253878,0.248692
50%,0.510928,0.510498,0.505216,0.500861,0.531823,0.534950,0.481963,0.479887,0.495670,0.448604
75%,0.771207,0.748114,0.729452,0.733536,0.737979,0.750049,0.714802,0.741123,0.722400,0.724569
max,0.999408,0.999985,0.994380,0.994959,0.995617,0.998675,0.993523,0.996590,0.996427,0.991973

In [116]:
newdf.index # all indexes
newdf.columns # OUTPUT : RangeIndex(start=0, stop=10, step=1)
newdf.sort_index(axis=0,ascending=False) # we can change order
newdf.sort_index(axis=1,ascending=False) # to sort column

,9,8,7,6,5,4,3,2,1,0
0,0.210634,0.208342,0.477566,0.337061,0.014733,0.137152,0.053205,0.781951,0.668856,0.793096
1,0.223231,0.479013,0.072859,0.865790,0.418636,0.548645,0.447673,0.259243,0.177833,0.784903
2,0.936498,0.666329,0.934241,0.739890,0.415635,0.526989,0.827231,0.512526,0.451651,0.886415
3,0.823739,0.399384,0.794969,0.291381,0.538346,0.915103,0.643791,0.695895,0.812824,0.345396
4,0.491994,0.861853,0.195474,0.960026,0.753471,0.431448,0.985010,0.939369,0.038907,0.178830
...,...,...,...,...,...,...,...,...,...,...
316,0.938363,0.099493,0.800084,0.926277,0.527135,0.969678,0.485515,0.065812,0.130134,0.143733
317,0.688152,0.305930,0.404569,0.408484,0.883028,0.714131,0.714932,0.576867,0.112222,0.595531
318,0.002879,0.202620,0.292755,0.493203,0.119605,0.365183,0.068200,0.107210,0.009447,0.038606
319,0.126186,0.471696,0.401187,0.677346,0.536724,0.420072,0.653807,0.594936,0.742169,0.099543
320,0.828062,0.482177,0.850124,0.802805,0.004302,0.460536,0.603204,0.096682,0.017750,0.311939

In [117]:
num = newdf.to_numpy()
num

array([[0.79309639, 0.66885583, 0.78195115, ..., 0.47756587, 0.20834219,
        0.21063357],
       [0.78490289, 0.17783255, 0.25924276, ..., 0.07285889, 0.47901256,
        0.22323127],
       [0.88641527, 0.45165059, 0.51252644, ..., 0.93424146, 0.66632865,
        0.93649807],
       ...,
       [0.03860634, 0.00944708, 0.10721038, ..., 0.29275507, 0.20262019,
        0.00287929],
       [0.09954347, 0.74216906, 0.59493605, ..., 0.40118673, 0.47169642,
        0.12618617],
       [0.31193934, 0.01774982, 0.09668164, ..., 0.85012354, 0.48217691,
        0.82806237]])

In [118]:
newdf.T # getting transpose of matrix

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,320
0,0.793096,0.784903,0.886415,0.345396,0.178830,0.985008,0.506357,0.503800,0.809347,0.245178,...,0.711158,0.405404,0.293169,0.553195,0.434752,0.143733,0.595531,0.038606,0.099543,0.311939
1,0.668856,0.177833,0.451651,0.812824,0.038907,0.060561,0.343958,0.301371,0.360228,0.451899,...,0.206166,0.325097,0.456224,0.926428,0.512524,0.130134,0.112222,0.009447,0.742169,0.017750
2,0.781951,0.259243,0.512526,0.695895,0.939369,0.979567,0.127330,0.505216,0.008729,0.253560,...,0.369537,0.011261,0.755385,0.257413,0.101919,0.065812,0.576867,0.107210,0.594936,0.096682
3,0.053205,0.447673,0.827231,0.643791,0.985010,0.534635,0.089752,0.865268,0.446600,0.123485,...,0.023474,0.238054,0.591610,0.920131,0.377976,0.485515,0.714932,0.068200,0.653807,0.603204
4,0.137152,0.548645,0.526989,0.915103,0.431448,0.537483,0.460996,0.906853,0.581767,0.144492,...,0.531823,0.391877,0.995617,0.544578,0.989042,0.969678,0.714131,0.365183,0.420072,0.460536
5,0.014733,0.418636,0.415635,0.538346,0.753471,0.856212,0.730205,0.014867,0.591877,0.487141,...,0.935641,0.651065,0.084416,0.562146,0.178825,0.527135,0.883028,0.119605,0.536724,0.004302
6,0.337061,0.865790,0.739890,0.291381,0.960026,0.443777,0.935620,0.810560,0.210533,0.707589,...,0.527282,0.929540,0.431901,0.413851,0.589986,0.926277,0.408484,0.493203,0.677346,0.802805
7,0.477566,0.072859,0.934241,0.794969,0.195474,0.027183,0.399465,0.859433,0.144289,0.469408,...,0.817909,0.268267,0.256965,0.835812,0.869779,0.800084,0.404569,0.292755,0.401187,0.850124
8,0.208342,0.479013,0.666329,0.399384,0.861853,0.890321,0.011168,0.503569,0.886576,0.283608,...,0.589387,0.742948,0.400489,0.227928,0.198312,0.099493,0.305930,0.202620,0.471696,0.482177
9,0.210634,0.223231,0.936498,0.823739,0.491994,0.663356,0.514724,0.258771,0.920101,0.922219,...,0.374954,0.163106,0.404687,0.070044,0.156888,0.938363,0.688152,0.002879,0.126186,0.828062

In [119]:
newdf[0]
type(newdf[0]) # series

pandas.core.series.Series

In [120]:
newdf2 = newdf
newdf2[0][0]=8999
newdf     # above view is created . so if you change in newdf2 then values of newdf will also be changed

C:\Users\golu\AppData\Local\Temp\ipykernel_24216\3043367982.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf2[0][0]=8999

,0,1,2,3,4,5,6,7,8,9
0,8999.000000,0.668856,0.781951,0.053205,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.451651,0.512526,0.827231,0.526989,0.415635,0.739890,0.934241,0.666329,0.936498
3,0.345396,0.812824,0.695895,0.643791,0.915103,0.538346,0.291381,0.794969,0.399384,0.823739
4,0.178830,0.038907,0.939369,0.985010,0.431448,0.753471,0.960026,0.195474,0.861853,0.491994
...,...,...,...,...,...,...,...,...,...,...
316,0.143733,0.130134,0.065812,0.485515,0.969678,0.527135,0.926277,0.800084,0.099493,0.938363
317,0.595531,0.112222,0.576867,0.714932,0.714131,0.883028,0.408484,0.404569,0.305930,0.688152
318,0.038606,0.009447,0.107210,0.068200,0.365183,0.119605,0.493203,0.292755,0.202620,0.002879
319,0.099543,0.742169,0.594936,0.653807,0.420072,0.536724,0.677346,0.401187,0.471696,0.126186
320,0.311939,0.017750,0.096682,0.603204,0.460536,0.004302,0.802805,0.850124,0.482177,0.828062

In [121]:
newdf3 = newdf.copy() # here copy created 
newdf3[0][0]=1212
newdf    # change in newdf3 will not change in newdf

C:\Users\golu\AppData\Local\Temp\ipykernel_24216\3066639679.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf3[0][0]=1212

,0,1,2,3,4,5,6,7,8,9
0,8999.000000,0.668856,0.781951,0.053205,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.451651,0.512526,0.827231,0.526989,0.415635,0.739890,0.934241,0.666329,0.936498
3,0.345396,0.812824,0.695895,0.643791,0.915103,0.538346,0.291381,0.794969,0.399384,0.823739
4,0.178830,0.038907,0.939369,0.985010,0.431448,0.753471,0.960026,0.195474,0.861853,0.491994
...,...,...,...,...,...,...,...,...,...,...
316,0.143733,0.130134,0.065812,0.485515,0.969678,0.527135,0.926277,0.800084,0.099493,0.938363
317,0.595531,0.112222,0.576867,0.714932,0.714131,0.883028,0.408484,0.404569,0.305930,0.688152
318,0.038606,0.009447,0.107210,0.068200,0.365183,0.119605,0.493203,0.292755,0.202620,0.002879
319,0.099543,0.742169,0.594936,0.653807,0.420072,0.536724,0.677346,0.401187,0.471696,0.126186
320,0.311939,0.017750,0.096682,0.603204,0.460536,0.004302,0.802805,0.850124,0.482177,0.828062

In [122]:
newdf.loc[0][0] = 1  # best way to update
newdf.head(2)

C:\Users\golu\AppData\Local\Temp\ipykernel_24216\401782916.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf.loc[0][0] = 1  # best way to update

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.668856,0.781951,0.053205,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231

In [123]:
newdf.drop(5, axis=1) # column name with 5 will be deleted

,0,1,2,3,4,6,7,8,9
0,1.000000,0.668856,0.781951,0.053205,0.137152,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.451651,0.512526,0.827231,0.526989,0.739890,0.934241,0.666329,0.936498
3,0.345396,0.812824,0.695895,0.643791,0.915103,0.291381,0.794969,0.399384,0.823739
4,0.178830,0.038907,0.939369,0.985010,0.431448,0.960026,0.195474,0.861853,0.491994
...,...,...,...,...,...,...,...,...,...
316,0.143733,0.130134,0.065812,0.485515,0.969678,0.926277,0.800084,0.099493,0.938363
317,0.595531,0.112222,0.576867,0.714932,0.714131,0.408484,0.404569,0.305930,0.688152
318,0.038606,0.009447,0.107210,0.068200,0.365183,0.493203,0.292755,0.202620,0.002879
319,0.099543,0.742169,0.594936,0.653807,0.420072,0.677346,0.401187,0.471696,0.126186
320,0.311939,0.017750,0.096682,0.603204,0.460536,0.802805,0.850124,0.482177,0.828062

In [124]:
newdf.columns= list("ABCDEFGHIJ")  # changing columns
newdf.head(2)
newdf.drop(['E','F','G','H','I','J'],axis=1) # delete multiple columns
short = newdf.loc[[1,2,3],['C','D']]  # get specific rows and columns and store
newdf.loc[[1,2],:]  # specific rows but all columns

,A,B,C,D,E,F,G,H,I,J
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.418636,0.86579,0.072859,0.479013,0.223231
2,0.886415,0.451651,0.512526,0.827231,0.526989,0.415635,0.73989,0.934241,0.666329,0.936498

In [125]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]  # it will those data who match given conditions

,A,B,C,D,E,F,G,H,I,J
4,0.178830,0.038907,0.939369,0.985010,0.431448,0.753471,0.960026,0.195474,0.861853,0.491994
9,0.245178,0.451899,0.253560,0.123485,0.144492,0.487141,0.707589,0.469408,0.283608,0.922219
14,0.281030,0.012666,0.923990,0.320231,0.212180,0.014870,0.168925,0.106579,0.141008,0.684037
29,0.174045,0.429514,0.628555,0.362881,0.161432,0.443142,0.481963,0.169748,0.323701,0.351255
31,0.219699,0.670798,0.111392,0.706931,0.565007,0.717829,0.384054,0.807744,0.317757,0.882567
...,...,...,...,...,...,...,...,...,...,...
305,0.066206,0.150126,0.305666,0.943312,0.050246,0.651377,0.510117,0.870350,0.392168,0.691048
307,0.042587,0.402145,0.848708,0.338764,0.831325,0.387644,0.527924,0.364179,0.151324,0.132995
313,0.293169,0.456224,0.755385,0.591610,0.995617,0.084416,0.431901,0.256965,0.400489,0.404687
318,0.038606,0.009447,0.107210,0.068200,0.365183,0.119605,0.493203,0.292755,0.202620,0.002879
319,0.099543,0.742169,0.594936,0.653807,0.420072,0.536724,0.677346,0.401187,0.471696,0.126186

In [126]:
newdf.iloc[0,4]   # iloc works as indexing like in matrix system wherease loc work according to name of rows and columns
newdf.iloc[[0,1],[5,2]]

          F         C
0  0.014733  0.781951
1  0.418636  0.259243

In [127]:
newdf.drop([3]) # deleting rows
newdf = newdf.drop([5,6,7]) # actual data will be changed
newdf

,A,B,C,D,E,F,G,H,I,J
0,1.000000,0.668856,0.781951,0.053205,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.177833,0.259243,0.447673,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.451651,0.512526,0.827231,0.526989,0.415635,0.739890,0.934241,0.666329,0.936498
3,0.345396,0.812824,0.695895,0.643791,0.915103,0.538346,0.291381,0.794969,0.399384,0.823739
4,0.178830,0.038907,0.939369,0.985010,0.431448,0.753471,0.960026,0.195474,0.861853,0.491994
...,...,...,...,...,...,...,...,...,...,...
316,0.143733,0.130134,0.065812,0.485515,0.969678,0.527135,0.926277,0.800084,0.099493,0.938363
317,0.595531,0.112222,0.576867,0.714932,0.714131,0.883028,0.408484,0.404569,0.305930,0.688152
318,0.038606,0.009447,0.107210,0.068200,0.365183,0.119605,0.493203,0.292755,0.202620,0.002879
319,0.099543,0.742169,0.594936,0.653807,0.420072,0.536724,0.677346,0.401187,0.471696,0.126186
320,0.311939,0.017750,0.096682,0.603204,0.460536,0.004302,0.802805,0.850124,0.482177,0.828062

In [128]:
newdf.drop(['B','D'],axis=1, inplace=True) # it will also change origional data
newdf.head(3)

,A,C,E,F,G,H,I,J
0,1.000000,0.781951,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.259243,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.512526,0.526989,0.415635,0.739890,0.934241,0.666329,0.936498

In [129]:
newdf.reset_index() # rearrange index after deleting rows but it will add extra column index
newdf.reset_index(drop=True) # this will not add extra index column
newdf.head(3)

,A,C,E,F,G,H,I,J
0,1.000000,0.781951,0.137152,0.014733,0.337061,0.477566,0.208342,0.210634
1,0.784903,0.259243,0.548645,0.418636,0.865790,0.072859,0.479013,0.223231
2,0.886415,0.512526,0.526989,0.415635,0.739890,0.934241,0.666329,0.936498

In [130]:
newdf['E'].isnull()  # return boolean for all rows

0      False
1      False
2      False
3      False
4      False
       ...
316    False
317    False
318    False
319    False
320    False
Name: E, Length: 318, dtype: bool

In [131]:
newdf['E'] = None  # set all E as none
newdf
newdf['E'].isnull()   # now it will give true

0      True
1      True
2      True
3      True
4      True
       ...
316    True
317    True
318    True
319    True
320    True
Name: E, Length: 318, dtype: bool

In [132]:
newdf.loc[:,['E']] = 55  # loc is the better way to update
newdf

            A         C   E         F         G         H         I         J
0    1.000000  0.781951  55  0.014733  0.337061  0.477566  0.208342  0.210634
1    0.784903  0.259243  55  0.418636  0.865790  0.072859  0.479013  0.223231
2    0.886415  0.512526  55  0.415635  0.739890  0.934241  0.666329  0.936498
3    0.345396  0.695895  55  0.538346  0.291381  0.794969  0.399384  0.823739
4    0.178830  0.939369  55  0.753471  0.960026  0.195474  0.861853  0.491994
..        ...       ...  ..       ...       ...       ...       ...       ...
316  0.143733  0.065812  55  0.527135  0.926277  0.800084  0.099493  0.938363
317  0.595531  0.576867  55  0.883028  0.408484  0.404569  0.305930  0.688152
318  0.038606  0.107210  55  0.119605  0.493203  0.292755  0.202620  0.002879
319  0.099543  0.594936  55  0.536724  0.677346  0.401187  0.471696  0.126186
320  0.311939  0.096682  55  0.004302  0.802805  0.850124  0.482177  0.828062

[318 rows x 8 columns]

In [133]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df.head()

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [136]:
df.dropna() # to drop na values
# df = df.dropna() # to change in origional data

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [135]:
df.dropna(axis='columns')  # drop columns where atlest one column is missing

       name
0    Alfred
1    Batman
2  Catwoman

In [142]:
df['toy'].value_counts()  # don't count NaN values

toy
Batmobile    1
Bullwhip     1
Name: count, dtype: int64

In [143]:
df['toy'].value_counts(dropna=False) # also cout NaN values

toy
NaN          1
Batmobile    1
Bullwhip     1
Name: count, dtype: int64

In [137]:
dff = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
dff.head()

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [139]:
dff.drop_duplicates() # it will remove duplicates based on the rows (ie . entire 2 or > rows same)

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [140]:
dff.drop_duplicates(subset=['brand']) # using specific column

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [141]:
dff.drop_duplicates(subset=['brand', 'style'], keep='last') # keep last duplicate

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0